@import '../../../../variables.scss';

ul {
    list-style-type: none;
    margin-left: -20px;
    margin-right: 20px;
}

li {
    border-radius: 20px;
    padding: 6px;
    margin-top: 6px;
}

li:hover {
    cursor: pointer;
}

span {
    display: flex;
}

a {
    margin-bottom: -2px;
    padding-left: 6px;
    margin-top: 3px;
}

img {
    width: 18px;
    height: 18px;
}

.is-active {
    background-color: $secondary-light;
    color: $primary;
}