// if changing mat-theme, also reflect changes in here.

$primary: #00BCD4;
$primary-lighter: #e4eef0;
$primary-light: #B2EBF2;
$primary-dark: #00838F;
$primary-background: #cae8ec;

$secondary: #607D8B;
$secondary-light: #E0E0E0;
$secondary-dark: #37474F;
$secondary-button: #ffffff;

$background: #e3e7e9;